.Home{
  width: 75vw;
  height: 12rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.Home h2{
  font-size: 2.3rem;
  font-family: "Luckiest Guy";
  font-weight: 500;
}

.difficulty{
  display: flex;
  justify-content: center;
  position: relative;
}

.difficultyToggle{
  width: 7rem;
  border: 3px solid brown;
  border-radius: 5px;
  position: absolute;
  top: 42px;
  background: gold;
  transition: 1s;
  overflow: hidden;
}

.difficultyToggle p{
  padding: 0.5rem 1rem;
  transition: 0.5s;
}

.difficultyToggle p:hover{
  color: #fff;
  background: brown;
}

.difficultySelected{
  width: 6rem;
  padding: 0.4rem 0.8rem;
  border: 3px solid brown;
  border-radius: 5px;
  background: gold;
}

.playBtn{
  width: 6.5rem;
}

.playBtn img{
  width: 100%;
}


.NewPlayerContainer{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  background: rgba(0,0,0,0.1);
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.NewPlayer{
  width: 85%;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 7px;
  border-radius: 5px;
  padding: 2rem 1.5rem;
  background: #fafafa;
}

.NewPlayer input{
  width: 100%;
  text-align: center;
  border-radius: 5px;
  padding: 0.8rem 1rem 0.6rem;
  color: gray;
  font-size: 1.3rem;
  font-family: 'Changa One';
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.NewPlayer button{
  padding: 0.6rem;
  border-radius: 5px;
  color: #fff;
  font-size: 1.1rem;
  background: gray;
  font-family: 'Changa One';
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
}

.availability, .checking{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.8rem;
  padding: 2px 0;
}

.availability .icon, .checking .icon{
  font-size: 1rem;
}

.availability{
  color: brown;
}
